In [1]:
import pandas as pd

In [12]:
df=pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le=LabelEncoder()
df["company_n"]=le.fit_transform(df.company)
df["job_n"]=le.fit_transform(df.job)
df["degree_n"]=le.fit_transform(df.degree)
df.head()

,company,job,degree,salary_more_than_100k,company_n,job_n,degree_n
0,google,sales executive,bachelors,0,2,2,0
1,google,sales executive,masters,0,2,2,1
2,google,business manager,bachelors,1,2,0,0
3,google,business manager,masters,1,2,0,1
4,google,computer programmer,bachelors,0,2,1,0

In [4]:
from sklearn.tree import DecisionTreeClassifier

In [5]:
clf=DecisionTreeClassifier()

In [15]:
clf.fit(df[["company_n","job_n","degree_n"]],df.salary_more_than_100k)

DecisionTreeClassifier()

In [19]:
clf.predict([[2,1,1]])

array([1], dtype=int64)