In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("insurance_data.csv")
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [5]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test=train_test_split(df[["age"]],df.bought_insurance,train_size=0.8)

In [11]:
len(X_train)

21

In [13]:
len(X_test)

6

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
model=LogisticRegression()

In [16]:
model.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
model.predict([[25]])

array([0], dtype=int64)

In [20]:
X_test

    age
14   49
23   45
0    22
20   21
26   23
16   25

In [22]:
model.predict(X_test)

array([1, 1, 0, 0, 0, 0], dtype=int64)

In [24]:
y_test

14    1
23    1
0     0
20    0
26    0
16    1
Name: bought_insurance, dtype: int64

In [26]:
model.score(X_test,y_test)

0.8333333333333334