In [1]:
products={"p001":"Blue polo shirt","p002":"Black Polo shirt","p001":"Duke Hat"}
products

{'p001': 'Duke Hat', 'p002': 'Black Polo shirt'}

In [3]:
products["p001"]="Brown shirt"
products

{'p001': 'Brown shirt', 'p002': 'Black Polo shirt'}

In [4]:
products["p003"]="Yellow Shirt"
products

{'p001': 'Brown shirt', 'p002': 'Black Polo shirt', 'p003': 'Yellow Shirt'}

In [5]:
#Dictionary functions
products.keys()

dict_keys(['p001', 'p002', 'p003'])

In [6]:
products.values()

dict_values(['Brown shirt', 'Black Polo shirt', 'Yellow Shirt'])

In [7]:
products.items()

dict_items([('p001', 'Brown shirt'), ('p002', 'Black Polo shirt'), ('p003', 'Yellow Shirt')])

In [9]:
for i in products.keys():
    print(i)

p001
p002
p003

In [11]:
for i in products.values():
    print(i)

Brown shirt
Black Polo shirt
Yellow Shirt

In [19]:
for i,j in products.items():
    print(i,j)

p001 Brown shirt
p002 Black Polo shirt
p003 Yellow Shirt

In [17]:
products.get("p001")

'Brown shirt'

In [20]:
products["p001"]

'Brown shirt'

In [26]:
products.get("p005","not found")

'not found'

In [27]:
del products["p003"]

In [29]:
products

{'p001': 'Brown shirt', 'p002': 'Black Polo shirt'}

In [30]:
import pandas as pd

In [32]:
df=pd.DataFrame({"Name":["Suresh","Ramesh","Jayesh"],
                 "Age":[45,55,35]})

df

     Name  Age
0  Suresh   45
1  Ramesh   55
2  Jayesh   35